body {
	background: #666;
}

h1 {
	text-align: center;
}

.content {
	background: #eee;
}

.welcomebtn {
	width: 300px;
	height: 68px;
	margin: 12px;
	padding: 20px;
}

.formlabel {
	padding-top: 4px;
	margin-bottom: 8px;
}

.forminput {
	margin-bottom: 8px;
}

.fieldError {
	background-image: linear-gradient(to bottom right, #fcc, #fff);
}

.errortext {
	color: #a00;
	font-weight: bolder;
	font-size: smaller;
}

.footerdist {
	min-height: 32px;
}

.footer {
	background-color: #a00;
	position: fixed;
	bottom: 0px;
	width: 100vw;
	height: 32px;
}

.footer a {
	color: silver;
}

.footer a:hover {
	color: white;
}

.footerlink {
	margin: 8px;
	font-size: smaller;
}

.infotext {
	color: #004;
}