<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block layout:fragment="content">
		<div class="card">
			<div class="card-title"><h1>Als Spender_in registrieren</h1></div>
			<div class="card-body">
				<form th:action="@{/donator/register}" method="post" th:object="${bean}">
					<div class="container">
						<div class="row">
							<div th:replace="fragments.html::input('Vorname', 'forename', 'Vorname eingeben', 'Der Vorname wird zum Ausfüllen der Spendenquittung benötigt.')"></div>
							<div th:replace="fragments.html::input('Nachname', 'surname', 'Nachname eingeben', 'Der Nachname wird zum Ausfüllen der Spendenquittung benötigt.')"></div>
							<div th:replace="fragments.html::input('Firma', 'company', 'Firma eingeben', 'Die Firma wird zum Ausfüllen der Spendenquittung benötigt.')"></div>
							<div th:replace="fragments.html::input('Straße', 'street', 'Straße mit Hausnummer eingeben', 'Die Adresse wird zum Ausfüllen der Spendenquittung benötigt.')"></div>
							<div th:replace="fragments.html::input('PLZ', 'zip', 'PLZ eingeben', 'Die Adresse wird zum Ausfüllen der Spendenquittung benötigt.')"></div>
							<div th:replace="fragments.html::input('Ort', 'city', 'Ort eingeben', 'Die Adresse wird zum Ausfüllen der Spendenquittung benötigt.')"></div>
							<div th:replace="fragments.html::input('E-Mail', 'mail', 'E-Mail eingeben', 'Die E-Mail wird zur Absprache der Übermittlung der Spendenquittung benötigt.')"></div>
							<div th:replace="fragments.html::input('Telefon', 'phone', 'Telefonnummer eingeben', 'Die Telefonnummer wird zur Absprache der Übermittlung der Spendenquittung benötigt.')"></div>
							<div class="alert alert-info">Spender_innen, die alle Läufer_innen unterstützen möchten, wenden sich für die Registrierung bitte direkt an Christina Mädler:
								leitung@cvjm-dresden.de</div>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Läufer_innen</th>
										<th>Kilometer</th>
										<th>Spende in €/km</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="r, itemStat : *{donations}">
										<td><input type="hidden" th:field="*{donations[__${itemStat.index}__].id}"></input><span th:text="${r.alias}"></span></td>
										<td><input type="hidden" th:field="*{donations[__${itemStat.index}__].kilometer}"></input><span th:text="${r.kilometer}"></span></td>
										<td><input type="number" th:field="*{donations[__${itemStat.index}__].donation}" class="form-control" step="0.01" min="0" /></td>
									</tr>
								</tbody>
							</table>
							<div class="col-sm-6 col-xxl-6 forminput">
								<input type="submit" value="spenden" class="btn btn-primary form-control" />
							</div>
							<div class="col-sm-6 col-xxl-6 forminput">
								<a th:href="@{/}" class="btn btn-outline-secondary form-control">abbrechen</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</th:block>
</body>
</html>