<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
</head>
<body>
	<th:block th:fragment="input(label, field, placeholder, title)">
		<div class="col-sm-4 col-xxl-2 formlabel" th:text="${label}"></div>
		<div class="col-sm-8 col-xxl-4 forminput">
			<th:block th:if="${#fields.hasErrors('__${field}__')}">
			 	<div th:each="error : ${#fields.errors('__${field}__')}" th:text="${error}" class="errortext"></div>
			</th:block>
			<span th:text="${title}" class="infotext" style="display: none"></span>
			<div class="input-group mb-3">
				<button onclick="$(this).parent().prev().toggle(); return false;" class="btn btn-outline-secondary"><i class="fas fa-question"></i></button>
				<input type="text" class="form-control" th:field="*{__${field}__}" th:errorclass="fieldError" th:placeholder="${placeholder}" th:title="${title}" />
			</div>
		</div>
	</th:block>
	<th:block th:fragment="select(label, field, title, list)">
		<div class="col-sm-4 col-xxl-2 formlabel" th:text="${label}"></div>
		<div class="col-sm-8 col-xxl-4 forminput">
			<select th:field="*{__${field}__}" class="form-select" title="${title}">
				<option th:each="k : ${list}" th:value="${k.id}" th:text="${k.name}"></option>
			</select>
		</div>
	</th:block>
</body>
</html>