<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block layout:fragment="content">
		<h1>CVJM-Spender_innenlauf</h1>
		<div th:if="${message}" th:utext="${message}" class="alert alert-success"></div>
		<div th:if="${error}" th:utext="${error}" class="alert alert-danger"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-xl-4 col-xxl-3">
					<a th:href="@{/runner}" class="btn btn-outline-success welcomebtn"><i class="fas fa-users"></i>&nbsp;als Läufer_in registrieren</a>
				</div>
				<div class="col-sm-12 col-md-6 col-xl-4 col-xxl-3">
					<a th:href="@{/donator}" class="btn btn-outline-success welcomebtn"><i class="far fa-money-bill-alt"></i>&nbsp;als Spender_in registrieren</a>
				</div>
				<div class="col-sm-12 col-md-6 col-xl-4 col-xxl-3">
					<a th:href="@{/summary}" class="btn btn-outline-primary welcomebtn"><i class="fas fa-list"></i>&nbsp;Übersicht anzeigen</a>
				</div>
				<div class="col-sm-12 col-md-6 col-xl-4 col-xxl-12">
					<div class="welcomebtn" style="padding: 0px; padding-top: 30px">
						<form th:action="@{/personal}" method="post">
							<div class="input-group flex-nowrap">
								<input type="password" name="secret" class="form-control" placeholder="Passwort" />
								<input type="submit" class="btn btn-secondary" value="Personenlisten zeigen" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>