<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block layout:fragment="content">
		<div class="accordion" id="acc">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Läufer_innen</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#acc">
					<div class="accordion-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Vorname</th>
									<th>Nachname</th>
									<th>Straße</th>
									<th>PLZ</th>
									<th>Ort</th>
									<th>E-Mail</th>
									<th>Telefon</th>
									<th>Kilometer</th>
									<th>Spendenziel</th>
									<th>Gesamtsumme</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="l : ${runners}">
									<td th:text="${l.forename}"></td>
									<td th:text="${l.surname}"></td>
									<td th:text="${l.street}"></td>
									<td th:text="${l.zip}"></td>
									<td th:text="${l.city}"></td>
									<td th:text="${l.email}"></td>
									<td th:text="${l.phone}"></td>
									<td th:text="${l.km}"></td>
									<td th:text="${l.donationgoal}"></td>
									<td th:text="${l.euro}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingTwo">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Spender_innen</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#acc">
					<div class="accordion-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Vorname</th>
									<th>Nachname</th>
									<th>Firma</th>
									<th>Straße</th>
									<th>PLZ</th>
									<th>Ort</th>
									<th>E-Mail</th>
									<th>Telefon</th>
									<th>Anzahl Läufer_innen</th>
									<th>Spende</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="l : ${donators}">
									<td th:text="${l.forename}"></td>
									<td th:text="${l.surname}"></td>
									<td th:text="${l.company}"></td>
									<td th:text="${l.street}"></td>
									<td th:text="${l.zip}"></td>
									<td th:text="${l.city}"></td>
									<td th:text="${l.email}"></td>
									<td th:text="${l.phone}"></td>
									<td th:text="${l.km}"></td><!-- abuse the column km for the number of supported runners -->
									<td th:text="${l.euro}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<a th:href="@{/}" class="btn btn-outline-primary form-control">zurück zur Übersicht</a>
	</th:block>
</body>
</html>