<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block layout:fragment="content">
		<div class="card">
			<div class="card-title"><h1>Als Läufer_in registrieren</h1></div>
			<div class="card-body">
				<form th:action="@{/runner/register}" method="post" th:object="${bean}">
					<div class="container">
						<div class="row">
							<div th:replace="fragments.html::input('Alias', 'alias', 'Alias eingeben', 'Der Alias ist für die Spender_innen sichtbar, daran sollten sie Dich erkennen können.')"></div>
							<div th:replace="fragments.html::input('Vorname', 'forename', 'Vorname eingeben', 'Der Vorname ist für die Spender_innen nicht sichtbar.')"></div>
							<div th:replace="fragments.html::input('Nachname', 'surname', 'Nachname eingeben', 'Der Nachname ist für die Spender_innen nicht sichtbar.')"></div>
							<div th:replace="fragments.html::input('Straße', 'street', 'Straße mit Hausnummer eingeben', 'Die Adresse ist für die Spender_innen nicht sichtbar.')"></div>
							<div th:replace="fragments.html::input('PLZ', 'zip', 'PLZ eingeben', 'Die Adresse ist für die Spender_innen nicht sichtbar.')"></div>
							<div th:replace="fragments.html::input('Wohnort', 'city', 'Wohnort eingeben', 'Der Wohnort ist für die Spender_innen nicht sichtbar.')"></div>
							<div th:replace="fragments.html::input('E-Mail', 'mail', 'E-Mail eingeben', 'Die E-Mail wird nur zu Kontaktzwecken zwischen uns und Dir verwendet.')"></div>
							<div th:replace="fragments.html::input('Telefon', 'phone', 'Telefonnummer eingeben', 'Die Telefonnummer wird nur zu Kontaktzwecken zwischen uns und Dir verwendet.')"></div>
							<div th:replace="fragments.html::select('Anzahl km', 'kilometer', 'Anzahl an Kilometern, die Du laufen wirst', ${kilometers})"></div>
							<div th:replace="fragments.html::select('Spendenziel', 'donationgoal', 'Spendenziel, für das Du laufen willst', ${donationgoals})"></div>
							<div th:replace="fragments.html::select('Alterskategorie', 'agerange', 'Altersgruppe, in die Du Dich einordnen würdest', ${ageranges})"></div>
							<div class="col-sm-6 col-xxl-3 forminput">
								<input type="submit" value="registrieren" class="btn btn-primary form-control" />
							</div>
							<div class="col-sm-6 col-xxl-3 forminput">
								<a th:href="@{/}" class="btn btn-outline-secondary form-control">abbrechen</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</th:block>
</body>
</html>