<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block layout:fragment="content">
		<div class="card">
			<div class="card-header"><h1>Zusammenfassung</h1></div>
			<div class="alert alert-info">Unser großes Ziel sind: eine Gesamtstrecke von 250 km laufen und dabei eine Gesamtsumme von 6.000 Euro Spenden erhalten.</div>
			<div class="alert alert-success">
				<span th:text="${publicSummary}" />
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<td>Alias</td>
						<td>Km</td>
						<td>Gesamtsumme</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="l : ${list}">
						<td th:text="${l.alias}"></td>
						<td th:text="${l.km}" />
						<td th:text="${l.euro}"></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/}" class="btn btn-outline-primary" style="margin-top: 8px">zurück zur Übersicht</a>
		</div>
	</th:block>
</body>
</html>