<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>donation runner</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} " />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} " />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/datatables/1.11.4/css/jquery.dataTables.min.css}" />
<link th:rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/datatables/1.11.4/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/donator.js}"></script>
</head>
<body>
	<div class="content">
		<div layout:fragment="content">Layout content</div>
	</div>
	<div class="footerdist">
	</div>
	<div class="footer">
		<a href="https://www.cvjm-dresden.de/impressum" class="footerlink">Impressum</a>
		<a href="https://www.cvjm-dresden.de/datenschutz" class="footerlink">Datenschutz</a>
		<a href="https://gitlab.com/jottyfan/donationrunner/-/issues" target="_blank" class="footerlink">Fehlermeldungen</a>
	</div>
</body>
</html>